<section class='recipe-container'>

<div class="recipe--header">
<h1>Recipes</h1>

<div class="flex flex-col mx-6 mt-6 gap-12">
  <div class="w-full text-right pr-6">
    <%=form_with model: Recipe.new, url: new_recipe_path, method: :get do %>
      <button class="px-4 py-2 shadow-md shadow-black">Add recipe</button>
    <% end %>
  </div>
</div>
</div>

<div class="recipe--wrapper">
<% @recipes.each do |recipe| %>
  <div class="recipe-box">
<div class="recipe-left">
  <h4>recipe.name</h4>
  <%=form_with model: Recipe.new, url recipe_path(recipe), method: :delete do %>
    <button>remove</button>
  <%end%>
</div>
<div class="recipe-right">
  <p>
    <%= recipe.description %>
  </p>
</div>
</div>
<%end%>
</div>
</section>