<div>
<h2>Shopping List</h2>
<p>Amount of food to buy: </p>
<p>Total value of food needed: </p>
<p class="no-food">No food added to the inventory yet. Please use the button above ☝️ to add new food</p>
<table class="table table-hover table-striped table-bordered">
  <thead class="bg-color">
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
      <tr>
      <td>item 1 </td>
      <td>item 2 </td>
      <td> $30</td>
      </tr>
  </tbody>
</table>
</div> 